<head>
  <meta charset="UTF-8">
  </head>
<div class="row">
  <div class="col-md-12">

  </div>
</div>

<!-- Forms Usuários  -->
<div class="row">
  <div class="col-md-12">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">
                  <span class="lstick"></span>Politicas de Privacidade
                          </h4>

              <div class="table-responsive-lg">
                  <table class="table vm no-th-brd pro-of-month mb-0 v-middle">
                      <thead>
                        <tr>
                          <th>ID</th>

                          <th class="text-center">Texto</th>

                          <th class="text-right">OPÇÕES</th>
                          <!-- <th class="text-center">Situação</th> -->
                          <th class=""></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let politicaPrivacidade of PoliticaDePrivacidade ">

                          <td>{{politicaPrivacidade.id}}</td>
                          <td class="text-center">
                            <div [innerHtml]="politicaPrivacidade.PoliticaPrivacidade" ></div>
                          </td>

                          <td class="text-center">
                            <button class="btn btn secondary text-right" [routerLink]="['editar', politicaPrivacidade.id]">Editar</button>

                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                          <tr>
                              <td class="text-center pt-5 pb-0" colspan="7">
                                  <!-- <pagination-controls (pageChange)="paginaAtual = $event"
                                      responsive="true"
                                      previousLabel="Anterior"
                                      nextLabel="Próximo"></pagination-controls> -->
                                  <!-- <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls> -->
                              </td>
                          </tr>
                      </tfoot>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- fim users  -->
