<div class="row">
  <div class="col-md-12">

  </div>
</div>

<!-- Forms Usuários  -->
<div class="row">
  <div class="col-md-12">
      <div class="card">
                  <div class="card-body">
              <h4 class="card-title">
                  <span class="lstick"></span>Onde Estamos
                  <button class="btn btn-sm btn-primary float-right"
                      routerLinkActive="router-link-active" [routerLink]="['criar']">
                    Criar  Onde Estamos
                  </button>


              </h4>

              <div class="table-responsive-lg">
                  <table class="table vm no-th-brd pro-of-month mb-0 v-middle">
                      <thead>
                        <tr>
                          <th></th>
                          <th class="text-center">Imagens</th>
                          <th class="text-center">Titulo</th>
                          <th class="text-center">Endereço</th>
                         <th class="text-right">Telefone</th>
                          <!-- <th class="text-center">Situação</th> -->
                          <th class=""></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let OndeEstamos of ondeEstamos ">
                          <td></td>
                          <td class="text-center">{{OndeEstamos.ondeEstamosImagem}}</td>
                          <td class="text-center">{{OndeEstamos.ondeEstamosTitulo}}</td>
                          <td class="text-center">{{OndeEstamos.ondeEstamosAddress}}</td>
                          <td class="text-center">{{OndeEstamos.ondeEstamosTel}}</td>
                          <td class="text-right">
                            <button class="btn btn secondary" [routerLink]="['editar', OndeEstamos.id]">Editar</button>
                            <button class="btn btn secondary text-right" (click)="delete(OndeEstamos.id)">Delete</button>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                          <tr>
                              <td class="text-center pt-5 pb-0" colspan="7">
                                  <!-- <pagination-controls (pageChange)="paginaAtual = $event"
                                      responsive="true"
                                      previousLabel="Anterior"
                                      nextLabel="Próximo"></pagination-controls> -->
                                  <!-- <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls> -->
                              </td>
                          </tr>
                      </tfoot>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- fim users  -->
