<body>

  <div class="jumbotron jumbotron-fluid">

    <div class="container">

      <h3 class="display-8" *ngIf="currentId"> Editar Onde Estamos</h3>
      <h3 class="display-8" *ngIf="!currentId"> Novo Onde Estamos</h3>





      <div class="form-group">

        <body>

          <div class="jumbotron jumbotron-fluid">


            <div class="container">

              <h3 class="display-8"> Onde Estamos</h3>

              <form method="POST" action="/banners" (ngSubmit)="onSubmit()" [formGroup]="ondeEstamosForm"
                enctype="multipart/form-data" class="mt-4">

                <div class="form-group">

                  <div [ngClass]="aplicaCssErro('ondeEstamosTitulo')">

                    <label for="titulo" class="mb-0">Titulo</label>

                    <input type="text" id="ondeEstamosTitulo" class="form-control" formControlName="ondeEstamosTitulo"
                      [(ngModel)]="currentTitulo" name="titulo">

                    <app-campo-control-error [mostrarErro]="verificaValidTouched('ondeEstamosTitulo')"
                      msgErro="Titulo é Obrigatório">
                    </app-campo-control-error>
                  </div>
                  <br>
                  <div [ngClass]="aplicaCssErro('ondeEstamosAddress')">

                    <label for="address" class="mb-0">Endereço</label>

                    <input type="text" id="ondeEstamosAddress" class="form-control" formControlName="ondeEstamosAddress"
                      [(ngModel)]="currentAddress" name="address">

                    <app-campo-control-error [mostrarErro]="verificaValidTouched('ondeEstamosAddress')"
                      msgErro="Endereço é Obrigatório">
                    </app-campo-control-error>
                  </div>
                  <br>

                  <div [ngClass]="aplicaCssErro('ondeEstamosTel')">

                    <label for="tel" class="mb-0">Telefone</label>

                    <input type="tel" id="ondeEstamosTel" class="form-control" formControlName="ondeEstamosTel"
                      [(ngModel)]="currentTel" name="tel">
                    <app-campo-control-error [mostrarErro]="verificaValidTouched('ondeEstamosTel')"
                      msgErro="Telefone é Obrigatório">
                    </app-campo-control-error>
                  </div>
                  <br>

                  <label for="imagens" class="mb-0">Imagens</label>
                  <div class="form-group mt-5" [ngClass]="aplicaCssErro('ondeEstamosImagem')">
                    <div class="col-md-12">
                      <input type="file" [(ngModel)]="currentFile" formControlName="ondeEstamosImagem"
                        (change)="selectFile($event)" name="profile_pic" />
                    </div>
                    <app-campo-control-error [mostrarErro]="verificaValidTouched('ondeEstamosImagem')"
                      msgErro="É Obrigatório por uma Imagem">
                    </app-campo-control-error>
                  </div>

                </div>


                <br />

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                                  <input type="submit"  value="Salvar"
                        class="btn btn-primary float-right m-l-5 w-25"   />

                      <input type="submit" value="Cancelar" [routerLink]="['/admin/onde-estamos']"
                        class="btn btn-outline-dark float-right w-25" />


                    </div>
                  </div>
                </div>



              </form>
            </div>
          </div>
        </body>

        <router-outlet></router-outlet>
