<section class="section bg-light" id="pricing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h3 class="title mb-3 text-azul-sim">Nossos valores</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="pricing-box rounded text-center p-4">
          <h4 class="title mb-3 text-verde-sim">Respeito </h4>
          <ul class="list-unstyled pricing-item mb-4">
            <li class="text-muted">Por aqueles que já estão finalizando a construção do seu legado nesse mundo.</li>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="pricing-box rounded text-center p-4">
          <h4 class="title mb-3 text-azul-sim">Admiração</h4>
          <ul class="list-unstyled pricing-item mb-4">
            <li class="text-muted">Pelos que ainda lutam pela vida, mesmo em estado de fragilidade avançada.</li>
          </ul>
        </div>
      </div>
      <!-- <div class="col-12">
        <div class="pricing-box rounded text-center p-4">
          <h4 class="title mb-3 text-verde-sim">Busca </h4>
          <ul class="list-unstyled pricing-item mb-4">
            <li class="text-muted"><b>Ambiente agradável:</b> Pessoas felizes em ambiente limpo e organizado</li>
            <li class="text-muted"><b>Confiança:</b> Faça correto sempre</li>
            <li class="text-muted"><b>Cuidar das pessoas:</b> Dignidade, respeito e oportunidade de crescimento</li>
            <li class="text-muted"><b>Inovar Sempre:</b> Fazer mais com menos, inovando sempre, juntos.</li>
            <li class="text-muted"><b>Paixão por servir:</b> Aqui tem oportunidade para quem quer encantar as pessoas</li>
            <li class="text-muted"><b>Sentimento de dono:</b> Equipe que se realiza com as conquistas.</li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
</section>
