<section class="section bg-light" id="pricing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h3 class="title mb-3 text-azul-sim">Nossos valores</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="pricing-box rounded text-center p-4">
          <h4 class="title mb-3 text-verde-sim">Propósito</h4>
          <ul class="list-unstyled pricing-item mb-4">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="mb-4 mb-lg-0">
                  <img src="assets/images/blog/img-4.jpg" alt="" class="img-fluid d-block mx-auto">
                </div>
              </div>

              <div class="col-lg-5 offset-lg-1">
                <p class="text-muted font-size-15 mb-5">Facilitar a vida das pessoas em movimento todo dia</p>

              </div>
            </div>

          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="pricing-box rounded text-center p-4">
          <h4 class="title mb-3 text-azul-sim">Missão</h4>
          <ul class="list-unstyled pricing-item mb-4">
            <div class="row align-items-center">


              <div class="col-lg-5 offset-lg-1">
                <p class="text-muted font-size-15 mb-5">Proporcionar a melhor experiencia em postos de combustíveis e conveniências
                </p>

              </div>

              <div class="col-lg-6">
                <div class="mb-4 mb-lg-0">
                  <img src="../../../assets/images/missao.PNG" alt="" class="img-fluid d-block mx-auto">
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="pricing-box rounded text-center p-4">
          <h4 class="title mb-3 text-verde-sim">Valores</h4>
          <ul class="list-unstyled pricing-item mb-4">

<!-- aqui  -->
<div class="row align-items-center">


  <div class="col-lg-6">
    <div class="mb-4 mb-lg-0">
      <img src="assets/images/valores.PNG" alt="" class="img-fluid d-block mx-auto">
    </div>
  </div>
  <div class="col-lg-5 offset-lg-1">
     <li class="text-muted"><b>Ambiente agradável:</b> Pessoas felizes em ambiente limpo e organizado</li>
    <li class="text-muted"><b>Confiança:</b> Faça correto sempre</li>
    <li class="text-muted"><b>Cuidar das pessoas:</b> Dignidade, respeito e oportunidade de crescimento</li>
    <li class="text-muted"><b>Inovar Sempre:</b> Fazer mais com menos, inovando sempre, juntos.</li>
    <li class="text-muted"><b>Paixão por servir:</b> Aqui tem oportunidade para quem quer encantar as pessoas</li>
    <li class="text-muted"><b>Sentimento de dono:</b> Equipe que se realiza com as conquistas.</li>
  </div>

</div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
