

.img-text{
  width: 100%;
  height: 300px;
  display: block;
  text-align: center;
  //  padding: 10% 1%;
  padding: 40% 5%;
   background: gray;
color: #fff;
border-radius: 15px;

}

.img-text h2 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.img-text p{
  font-size: 14px;
}
.single-box{
  position: relative;
  margin-bottom: 30px;
}
.img-area{
  position: absolute;
  width: 100px;
  height: 100px ;
  border: 1px solid #fff;
  // border: 5px solid #fff;
  overflow: hidden;
  top: 15px;
  left: 125px;
  // border-radius: 50% ;

}

.img-area img{
  width: 100%;
  }

  .carousel-indicators {
     left: 0;
     top: auto;
     bottom: -70px;
      }

      .carousel-indicators li{
        background: rgb(116, 113, 113);
border-radius: 20%;
      }

      .carousel-indicators .active {
        background: rgb(29, 28, 28);
      }
