/*
// 11. Footer
*/

.footer {
  //background: darken($white, 8%);
  //background: rgba(45, 42, 111, 0.5);
  color: darken($muted, 7%) !important;
  padding: 70px 0 40px;
  .footer-social-icon-content {
    .footer-social-icon {
      color: rgba($rosa-lar, 0.85);
      transition: all 0.5s;
      &:hover {
        color: $azul-lar;
      }
    }
  }
  .footer-sub-menu {
    li {
      padding: 6px 0;
      .footer-link {
        color: darken($muted, 7%) !important;
        font-size: 15px;
        transition: all 0.5s;
        &:hover {
          color: $rosa-lar;
          margin-left: 5px;
        }
      }
    }
  }
}
.footer-alt {
  //background: darken($rosa-lar, 11%);
  //background: rgba($rosa-lar, 0.8);
  color: darken($muted, 7%) !important;
}
