.pricing-box {
  background: #ffffff !important;

  // margin-left: 22rem  !important;
  // margin-right: 22rem  !important;
  // margin-bottom: 2rem !important;

}


.carousel-indicators {

  bottom: -20px !important;


  li {

    background-color: rgb(175, 175, 175) !important;

  }
}
.carousel-control-prev-icon{
  margin-left: -8rem !important;
}

.carousel-control-next-icon{
  margin-right: -8rem !important;
}
