  <!--Navbar Start-->
  <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-light" (window:scroll)="windowScroll()"
    id="navbar">
    <div class="container">
      <!-- LOGO -->
      <a class="navbar-brand logo" href="/">
        <img src="" alt="" class="logo-dark" height="100" />
        <img src="" alt="" class="logo-light" height="800" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
        <i class="mdi mdi-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mx-auto navbar-center" id="mySidenav">
          <!-- <li class="nav-item" [ngClass]="{'active':currentSection === 'home'}">
            <a href="javascript: void(0);" [ngxScrollTo]="'#home'" class="nav-link">Home</a>
          </li> -->
          <li class="nav-item" [ngClass]="{'active':currentSection === 'features'}">
            <a routerLink="/" [ngxScrollTo]="'#features'" class="nav-link">Quem Somos</a>
        </li>
        <li class="nav-item" [ngClass]="{'active':currentSection === 'pricing'}">
            <a routerLink="/" [ngxScrollTo]="'#pricing'" class="nav-link">Atividades</a>
        </li>
        <li class="nav-item" [ngClass]="{'active':currentSection === 'location'}">
            <a routerLink="/" [ngxScrollTo]="'#location'" class="nav-link">Onde Estamos</a>
        </li>
        <li class="nav-item" [ngClass]="{'active':currentSection === 'contact'}">
            <a routerLink="/" [ngxScrollTo]="'#contact'" class="nav-link">Fale Conosco</a>
        </li>
        </ul>
        <ul class="navbar-nav navbar-center">
          <li class="nav-item">
            <a href="" class="nav-link">
              <i-feather class="icon-xs icon mr-1" name="lock"></i-feather> Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar End -->
  <div appScrollspy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">
    <!-- Hero Start -->
    <section class="hero-1-bg" style="background-image: url(assets/images/banner1novo.jpg); min-height: 680px; margin-top: 120px;" id="home">
      <div class="container">
      </div>
    </section>
    <!-- Hero End -->

    <app-features></app-features>
    <app-pricing></app-pricing>
    <app-contact></app-contact>
    <app-footer></app-footer>
  </div>
