<div class="row">
  <div class="col-md-12">

  </div>
</div>

<!-- Forms Usuários  -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <span class="lstick"></span><b>Casos Cadastrados</b>

          <button class="btn btn-sm btn-primary float-right mr-1" routerLinkActive="router-link-active"
            [routerLink]="['/']">
            Voltar
          </button>

        </h4>

        <div class="table-responsive-lg">
          <table class="table vm no-th-brd pro-of-month mb-0 v-middle">
            <thead>

            </thead>
            <tbody>


              <div class="card text-white bg-dark mb-3" style="width: 20rem;" *ngFor="let postagem of postagens ">
                <!-- <img *ngFor="let banner of banners" class="card-img-top" [src]="banner.imagens" alt="Card image cap"> -->
                <div class="card-body">
                  <h5 class="card-title"><b> {{postagem.titulo}}</b></h5>
                  <p class="card-text">{{postagem.textos}}</p>
                  <a class="card-text">
                    {{postagem.links}}
                  </a>
                </div>
              </div>

            </tbody>
            <tfoot>
              <!-- <tr> -->
              <td class="text-center pt-5 pb-0" colspan="7">
                <!-- <pagination-controls (pageChange)="paginaAtual = $event" responsive="true" previousLabel="Anterior"
                    nextLabel="Próximo"></pagination-controls> -->
                <!-- <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- fim users  -->
