<!-- Footer Start -->
<section class="footer" style="background-image: url(assets/images/footer-bg.png)">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mb-5">
          <h6 class="text-azul-sim text-uppercase mb-4">Lar Idosos</h6>
          <p class="my-4 font-size-15">
            Nos acompanhe nas redes sociais.
          </p>
          <ul class="list-inline footer-social-icon-content">
            <li class="list-inline-item mr-4"><a href="javascript: void(0);" class="footer-social-icon">
                <i-feather name="facebook"></i-feather>
              </a></li>
            <li class="list-inline-item mr-4"><a href="javascript: void(0);" class="footer-social-icon">
                <i-feather name="twitter"></i-feather>
              </a></li>
            <li class="list-inline-item mr-4"><a href="javascript: void(0);" class="footer-social-icon">
                <i-feather name="instagram"></i-feather>
              </a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-7 offset-lg-1">
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <h6 class="text-azul-sim text-uppercase mb-3">Informações</h6>
            <ul class="list-unstyled footer-sub-menu">
              <li><a href="javascript: void(0);" class="footer-link">Termos e Condições</a></li>
              <li><a href="javascript: void(0);" class="footer-link">Política de Privacidade</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h6 class="text-azul-sim text-uppercase mb-3">Links Úteis</h6>
            <ul class="list-unstyled footer-sub-menu">
              <li><a href="javascript: void(0);" class="footer-link">Link 1</a></li>
              <li><a href="javascript: void(0);" class="footer-link">Link 2</a></li>
              <li><a href="javascript: void(0);" class="footer-link">Link 3</a></li>
              <li><a href="javascript: void(0);" class="footer-link">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="footer-alt py-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6">
        <div class="text-left">
          <p class="font-size-13">{{year}} © GabrielCoimbra Todos os direitos reservados.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="text-right">
          <p class="font-size-12">Coimbrox</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->
